.tableContainer {
  flex: 1; 
  border: 1px solid hsl(214.3 31.8% 91.4%); 
  border-radius: 0.5rem; 
  overflow-y: auto; 
  padding: 0.5rem; 
  background-color: hsl(0 0% 100%);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); 
}

.tableContainer::-webkit-scrollbar {
  width: 8px;
}

.tableContainer::-webkit-scrollbar-track {
  background: hsl(210 40% 96.1%); 
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: hsl(214.3 31.8% 91.4%); 
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background: hsl(214.3 31.8% 80%); 
}
