.listContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-width: 300px;
  max-height: 80vh; 
}

.listTitle {
  font-size: 1.25rem; 
  font-weight: 600; 
  margin-bottom: 1rem; 
  color: hsl(222.2 47.4% 11.2%); 
}

.loadingText {
  text-align: center;
  padding: 1rem;
  color: hsl(215.4 16.3% 46.9%); 
}
